@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&family=Roboto:wght@100;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    text-decoration: none;

}

html, body {
    scroll-behavior: smooth;
}

body{
    background-color: #23253A;
    
}


main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

header{
    width: 100%;
    height: 10vh;
    top: 0%;
    position: fixed;
    z-index: 999;
}

nav{
    background-color: #1d2031;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    right: 10%;
    position: relative;
    font-size: 1.40rem;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}


ul a{
    font-size: 1.5rem;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    position: relative;
}

ul a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #3ba3cc;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

ul a:hover::before{
    transform: scaleX(0.75);
}

#logo-nome{
   width: 55px;
   height: 55px;
   position: relative;
   left: 6rem;
}

.secao-inicial{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
}

.descricao{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    position: relative;
    bottom: 3%;
}

.descricao > p{
    font-size: 1.1rem;
    font-weight: 100;
}

#nome{
    font-size: 4rem;
    font-weight: 700;
}

#botao-inicial{
    width: 15%;
    text-align: center;
    cursor: pointer;
    background-color: #3387A9;
    position: relative;
    top: 10%;
    border: 2px solid #3387A9;
    border-radius: 10px;
    padding: 8px;
    transition: 0.5s;

}

#botao-inicial:hover{
    background-color: transparent;
    transform: scale(1.1);
    animation: 0.5s;
}

.foto-perfil{
    width: 60%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    
}

.foto-perfil > img{
    width: 55%;
    height: 70%;
    border-radius: 50%;
    position: relative;
    top: 0;
    margin-bottom: 10%;
 
}


.secao-sobre{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    gap: 3%;
    position: relative;
    top: 20%;

}


.esquerda{
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 3%;
}

#img-sobre {
    width: 22rem;
    height: 25rem;
   
}

#h2-linguagem{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 4%;
}

.card-linguagem{
    background-color: #1d2031;
    aspect-ratio: 6/4;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    width: 80%;
    height: 30%;
    background-image: url(imagens/html.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #3387A9;
}



.direita{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 3%;
}

.conjunto-texto{
    width: 100%;
    height: 10%;
    
}


#texto-sobre{
    font-size: 1.2rem;
    
} 


.secao-sobre h2{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    position: relative;
}

.secao-sobre h3{
    margin-bottom: 20px;
} 



.card-container{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
    flex-direction: column;
    width: 70%;
    height: 40%;
    gap: 20%;
} 

.card{
    background-color: #23253A;
    aspect-ratio: 6/4;
    padding: 30px;
    border: 1px solid #3387A9;
    border-radius: 8px;
    text-align: center;
}


.secao-projetos{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    position: relative;
    margin-top: 30%;
    
}

.secao-projetos h2{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    position: relative;
} 

#texto-projetos{
    font-size: 1.2rem;
    margin: 15px 150px;
} 


.projects-container {
    display: flex;
    gap: 1rem;
    position: relative;
    top: 20%;
    justify-content: center;
}

.project-card {
    position: relative;
    width: 20rem;
    height: 20rem;
    border: 1px solid #3ba3cc;
    aspect-ratio: 3/4;
    padding: 30px;
}

.tooltip::before {
    content: attr(data-tooltip);
    visibility: hidden;
    width: 15rem;
    background-color: #1d2031;
    color: #ffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 34%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid white;
}


.tooltip:hover::before {
    visibility: visible;
    opacity: 1;
}


.projeto-ecomatch{
    background-image: url(imagens/Ecomatch.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projeto-lifeforlive{
    background-image: url(imagens/L4L.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projeto-personagem{
    background-image: url(imagens/ecoguardia.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projeto-ilustracao{
    background-image: url(imagens/pintura-girl.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


footer{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40%;
}

footer h2{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.3;
    color: #ffffff;
    display: block;
    
}

footer p{
    font-size: 1.1rem;
}

.logo-redes-sociais{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 40px;
}

.logo-social{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    cursor: pointer;
}

.informacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.logo-informacao {
    margin-right: 5px; 
    width: 20px;
    height: 20px;
    vertical-align: middle; 
}


.facebook{
    background-image: url(imagens/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.instagram{
    background-image: url(imagens/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.github{
    background-image: url(imagens/github.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.informacoes{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
}



@media(max-width: 1366px){
    #nome{
        font-size: 2.75rem;
    }

    .foto-perfil > img{
        width: 50%;
        
    }

    #botao-inicial{
        width: 20%;
    }

    .menu{
        width: 20%;
    }

    .descricao-sobre h2{
        font-size: 2rem;
    }

    .descricao > p{
        font-size: 0.75rem;
       
    }

    .menu{
        font-size: 1rem;
        right: 5%;
    }

   
    
    ul a{
        font-size: 1rem;
        line-height: 1.3;
        color: #ffffff;
        display: block;
        position: relative;
}

    .card-container{
        grid-template-columns: repeat(3, 30% );
        gap: 4%;
    }

    
    .card{
        padding: 20px;

    }

    .secao-projetos{
        margin-top: 30%;
    }

    .project-card{
        width: 15rem;
        height: 15rem;
    }

    .card-container{
        margin-top: 40%;
    } 


    .card-linguagem{
        width: 70%;
        height: 40%;
        padding: 80px;
    }
    
    .projects-container {
        top: 10%;
        
    }

    .secao-projetos{
        height: 90%;
        
    }
    
    .direita{
        margin-top: 10%;
    }

    footer{
        top: 20%;
        height: 60%;
    }

    footer h2{
        font-size: 2rem;
    }

    footer p{
        font-size: 1rem;
    }


    
}


